<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcr.system.mapper.StudentCourseMapper">

    <!-- 查询记录，包括已逻辑删除的记录 -->
    <select id="selectMapsForLogicDelete" resultType="java.util.Map">
        SELECT * FROM student_course
        ${ew.customSqlSegment}
    </select>

</mapper> 